body {
    font-family: 'Poppins', Arial, sans-serif;
    line-height: 1.8;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: #222;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    background: #333;
    padding: 10px;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    color: #ddd;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #f4a261;
}

section {
    margin: 20px auto;
    max-width: 900px;
    background: #fff;
    padding: 25px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border-radius: 10px;
}

/* Táblázat dizájn */
table {
    width: 75%;
    border-collapse: collapse;
     margin: auto;
    background: #fff;
}
table caption {
    font-size: 1.3em;
    font-weight: bold;
    color: #222;
    background: #eee;
    padding: 12px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Árnyék */
    border-bottom: 3px solid #444; /* Alsó szegély */
}
#borito{
width: 200px;
}

#koncertborito{
width: 400px;

}

table thead {
    background: #333;
    color: #fff;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

table tbody tr:nth-child(even) {
    background: #f9f9f9;
}

table tbody tr:hover {
    background: #f1f1f1;
}

/* Képek */
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px auto;
}

.profile-img {
    width: 100%;
    max-width: 300px;
    display: block;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

/* Videó középre */
.video-container {
    text-align: center;
    margin-top: 20px;
}

/* Reszponzív kialakítás */
@media (max-width: 768px) {
    nav ul li {
        display: block;
        margin: 10px 0;
    }

    section {
        width: 90%;
        padding: 15px;
    }

    table {
        width: 100%;
    }
}