body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: #222;
    color: #fff;
    padding: 20px;
    text-align: center;
    list-style: none;
}

nav ul {
    background: #444;
    color: #fff;
    list-style: none;
    padding: 10px;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    margin: 20px auto;
    max-width: 800px;
    background: #fff;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

table {
    
    width: 75%;
    border-collapse: collapse;
    margin: 20px 0;
}

table thead, table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px auto;
} 
.video-container {
    text-align: center;
    margin-top: 20px;
}
.profile-img {
    width: 100%;
    max-width: 300px;
    display: block;
    margin: auto;
    border-radius: 10px;
}